:root {
  --roseT: rgba(234, 0, 150, 0);
  --rose: rgba(234, 0, 150, 1);
  --bleu: rgba(125, 249, 255, 1);
  --bleuT: rgba(125, 249, 255, 0);
  --white: rgba(255, 255, 255, 1);
  font-family: "Roboto black";
  background: rgba(0, 0, 6, 1);
}

.leaderBoard {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .leaderBoardTitle {
    display: flex;
    justify-content: space-between;
    width: 30%;

    img {
      width: 200px;
      height: 100px;
      padding: 10px;
      align-self: center;
    }
  }

  .leaderBoardItems {
    width: 30%;
    ol {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;

      li {
        color: var(--white);
        font-size: 200%;
        width: 85%;
        margin: auto;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          max-width: 130px;
        }
      }
    }
  }
}
