.map {
  position: relative;
  display: flex;
  flex-flow: wrap row;
  width: 832px;
  height: 320px;
  border-radius: 40px;
  margin: 10px auto;
  background-color: aqua;
  z-index: 1;
  overflow: hidden;

  div {
    border: solid 1px black;
    width: 62px;
    height: 62px;
  }
}
