header {
  display: flex;
  justify-content: center;

  .navBar {
    display: flex;
    justify-content: space-around;
    width: 75vw;
    img {
      width: 20vw;
    }
    img:hover {
      width: 22vw;
    }
  }
}
