:root {
  --roseT: rgba(234, 0, 150, 0);
  --rose: rgba(234, 0, 150, 1);
  --bleu: rgba(125, 249, 255, 1);
  --bleuT: rgba(125, 249, 255, 0);
  font-family: "Roboto black";
  background-color: rgba(0, 0, 6, 1);
}
/*ligne dégradé */
.LinearGradient {
  background: linear-gradient(
    to right,
    var(--roseT),
    var(--rose),
    var(--bleu),
    var(--bleuT)
  );
  width: 100vw;
  height: 3px;
}

.footer {
  display: flex;
  position: fixed;
  max-height: 3%;
  flex-direction: row;

  align-items: end;
  color: rgba(255, 255, 255, 1);
  height: 10vh;
  font-weight: bold;
  font-size: 1.4em;

  .nav {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85vw;
  }
  .logo {
    display: flex;
  }
  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
  }

  .facebook-logo,
  .insta-logo,
  .twitter-logo {
    transform: scale(0.95);
    height: 80%;
  }
  .facebook-logo:hover,
  .insta-logo:hover,
  .twitter-logo:hover {
    transform: scale(1);
  }
}
#mentions {
  cursor: pointer;
}
.popup-content {
  background: linear-gradient(
    to right,
    var(--roseT),
    var(--rose),
    var(--bleu),
    var(--bleuT)
  ) !important;
  border-radius: 30px !important;
}
#modal {
  border-radius: 30px;
  #content {
    display: flex;
    flex-direction: column;
    height: 98vh;
    font-size: 0.9em;
    font-weight: 400;
    margin: 0 20px;

    h2,
    h3 {
      margin: 2px;
      text-align: center;
      font-weight: bold;
    }
    .LinearGradientModal {
      background: linear-gradient(
        to right,
        var(--roseT),
        var(--rose),
        var(--bleu),
        var(--bleuT)
      );
      width: 40vw;
      height: 3px;
    }
    p {
      color: rgba(255, 255, 255, 1);
    }
  }
}
