.map {
  position: relative;
  display: flex;
  flex-flow: wrap row;
  width: 832px;
  height: 320px;
  border-radius: 30px;
  margin: 25px auto;
  background-color: aqua;
  overflow: hidden;

  div {
    width: 64px;
    height: 64px;
    background-color: transparent;
  }
}
