#map {
  position: relative;
  display: flex;
  flex-flow: wrap row;
  width: 832px;
  height: 320px;
  border-radius: 30px;
  margin: 10px auto;
  overflow: hidden;

  .tile {
    width: 64px;
    height: 64px;
  }
}
