:root {
  --roseT: rgba(234, 0, 150, 0);
  --rose: rgba(234, 0, 150, 1);
  --bleu: rgba(125, 249, 255, 1);
  --bleuT: rgba(125, 249, 255, 0);
  --jaune: rgba(252, 219, 56, 1);
}

#modalGame {
  width: 100%;
  height: 100%;
  align-self: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Pixeled";
  align-items: center;
  background-image: url("../assets/game_over_background.png");

  h1 {
    text-align: center;
    font-size: x-large;
    padding: 20px;
    color: var(--jaune);
    background-color: transparent;
  }
  
  form {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20vw;
    .playerName {
      margin: 15px;
      font-size: 2.4em;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5);
      border: transparent;
      color: white;
      text-transform: uppercase;

    }
    ::placeholder {
      color: white;
    }
    a,
    .send {
      margin: 5px auto;
      font-size: 1.2em;
      background-color: rgba(0, 0, 0, 1);
      color: white;
      border: none;
      border-radius: 15px;
    }

  }
}
